.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(../../action/home_background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
};

.createButton {
    background-color: green;
}